.input-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-page-container h1 {
  text-decoration: underline;
}

.chat {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 5rem;
  width: 90%;
}

.chat-history {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: rgba(32, 43, 93, 0.497);
  height: 70vh;
  border: 2px solid rgb(189, 189, 189);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.user-input {
  height: 3rem;
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
